# Logs y caché del sistema
*.log
.DS_Store
Thumbs.db

# Dependencias
node_modules/

# Vite / TypeScript
dist/
dist-ssr/
*.local
*.tsbuildinfo

# Var y secretos
.env
.env.*
!.env.example

# Archivos generados por Convex
.convex/

# Archivos de configuración de editores
.vscode/*
!.vscode/extensions.json
.idea/